:root {
    --purple: #F02FC2;
    --blue-translucent: rgba(96, 148, 234, 0.6);
    --purple-translucent: rgba(238, 130, 205, 0.342);
    --white: #ffffff;
    --black: #000000;
    --background: url('../img/background.jpg');
    --shadow: -3px 6px 24px hsla(328.6, 41.2%, 10%, 0.4);
}

* {
    font-family: 'Quicksand', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background) right / cover fixed no-repeat;
}

ul {
    margin-bottom: 2em;
}

li {
    margin: 0.5em 0;
}

.nobreak {
    white-space: nowrap;
}

.overlay {
    display: flex;
    flex-direction: row;
    background: linear-gradient(303deg, var(--blue-translucent), var(--purple-translucent));
    min-height: 100%;
}

.floating-card {
    position: relative;
    min-width: 25%;
    padding: 2.5rem 4rem;
    margin: 4rem;
    border-radius: 12px;
    box-shadow: var(--shadow);
}

.floating-card.light {
    color: var(--black);
    background: var(--white);
}

.floating-card.light a {
    text-decoration: none;
    color: #1a3bf8;
}

.floating-card.light a:hover {
    text-decoration: underline;
}

.floating-card.info, .floating-card.me {
    align-self: center;
}

.overlay.center {
    justify-content: center;
}

.floating-card .back-link {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: none !important;
}

.floating-card .back-link:hover i {
    text-decoration: none;
}

.floating-card .back-link:hover span {
    text-decoration: underline;
}

.links a {
    text-decoration: none;
    color: var(--purple);
    width: 1em;
    height: 1em;
    display: block;
    margin: 0.5em;
}


.links a:first-child {
    margin-left: 0;
}

.links {
    display: flex;
    flex-direction: row;
    font-size: 1.75em;
}

.links i {
    height: 1em;
    width: 1em;
    text-align: center;
}

.links .link-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    flex: 1;
    margin-right: 0.25rem;
}

a .tooltip {
    position: absolute;
    font-size: 1rem;
    line-height: 1em;
    margin-left: 1em;
    padding: 0.5em 0.75em;
    font-weight: 900;
    visibility: hidden;
    border-radius: 3px;
    z-index: 1;
    background: var(--black);
    color: var(--white);
}

a .tooltip::before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -0.75em;
    left: -1em;
    border: solid 0.75em transparent;
    border-right-color: var(--black);
    z-index: 1;
}

a:hover .tooltip {
    visibility: visible;
}

a .tooltip:hover {
    visibility: hidden;
}

.at {
    display: inline-block;
    text-align: center;
}

.at::before {
    content: "[at]";
    display: inline-block;
    width: 100%;
}

.email:hover .at::before {
    content: "@";
}

@media screen and (max-width: 1024px) {
    .overlay {
        flex-direction: column;
    }

    .floating-card {
        width: auto;
        max-width: max-content;
        align-self: center !important;
        padding: 2rem 3rem;
        margin: 4rem auto;
    }

    .floating-buttons {
        margin-top: 0;
        margin-bottom: 2em;
        align-self: center !important;
        text-align: center;
    }

    .floating-card:not(.me) {
        text-align: center;
    }

    .links {
        flex-direction: column;
    }

    .links a:first-child {
        margin-left: 0.5em;
    }

    .links .link-icons {
        margin-right: 0 !important;
    }

    .links > * {
        display: flex;
        justify-content: center;
    }
}
